.card-form{
    width: 500px;
  }
  
  .form-wrap{
    display: flex;
    flex-direction: column;
  }
  
  .exp_month{
    resize:none;
  }
  
  .exp_year{
    resize:none;
  }
  
  .input-expiration-date-wrap{
    display: flex;
  }
  
  
  .button{
    margin-top: 30px;
    height: 30px;
    width: 100px;
    font-style: oblique;
    background-color: coral;
    margin-left: 0px;
  }
  .title{
    margin-left: 450px;
    margin-top: 80px;
    font-weight: bold;
    color: darkgray;
  }
  .display_flex{
    width: 1000px;
    height: 400px;
    margin-left: 450px;
    position: absolute;
    width: 32em;
    background-color: cornsilk;
  }
  .footer{
    height: 50px;
    background-color: darkolivegreen;
  }
